.sectionItem {
    width: 40vw;
    height: 60vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    align-items: center;
    
    .imgContainer{
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
    }
    .itemText {
        position: absolute;
        text-align: center;
        width: 30%;
        height: 20%;
        background: #9e816fba;
        display: flex;
        border: 1px solid var(--primary-black);
        margin: auto;
        padding: 10px;
        text-transform: uppercase;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        inset: 0;
        transition: all .3s ease-in-out;
        p{
            margin-top: 5px;
            font-size: 16px;
        }
    }
    &:hover {
        .imgContainer{
            transform: scale(1.1);
            transition: transform 6s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }
        .itemText{
            background: #9e816fee;
        }
    
    }
}