@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    @content;
  }
}
.shopCollectionContainer {
    width: 100%;
    height: 100%;

    display: flex;
    box-sizing: border-box;
    justify-content: center;

    padding: 1rem;
    gap: 20px;

    flex-wrap: wrap;
    margin-bottom: 4rem;

}    .productsHeader{
    display: flex;
    justify-content: space-between;
    margin: 2rem 1rem ;
    @include mobile {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-weight: 600;
    }
    .colLeft{
        width: 50%;
       
        text-align: center;
    }
    .colRight{
        width: 50%;
        text-align: center;
    }
        }