.contactUs{
    width: 100%;
    height: 100%    ;
    display: flex;
   flex-direction: column;

    .header{
        height:50vh;
        background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, .5)),url("/contactBg.webp");
        background-size: cover;
        background-position:top ;
        .aboutBanner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title{
            font-size: 4.5rem;
            letter-spacing: 15px;
            color: #f1f1f1; 
        }

    }

    .body{
        width: 100%;
        height: 100vh;
        display:flex;
        justify-content: center;
        align-items: center;
        .formContainer{
            width: 70%;
            height: 70%;
            display: flex;
            border: 1px solid #0000002e;
            .colLeft{
                width: 50%;
                padding: 2.5rem 3rem;
                h2{
                    margin-bottom: 3rem;
                    text-align: center;
                }
                .formGroup{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 15px;
                    .formLabel {
                        margin-bottom: 10px;
                        font-size: .9rem;
                    }
                    .formControl{
                        min-height: 25px;
                        border: none;
                        padding: 5px;
                        border-bottom: 1px solid #000;
                        &:focus{
                            outline: none;
                            background-color: #f7f7f7;
                        }
                    }
                  
               
                }
                .btnContainer{
                    width: 100%;
                    margin-top: 30px;
                    button {
                        padding: 15px 30px; // More padding for a better feel
                        border-color:#9E816F;
                        background: #000;
                        color: #fff;
                        border: 2px solid;
                       
                        gap: 8px; // Adjusted gap for better alignment
                        outline: none;
                        width: 50%; // Slightly wider for more emphasis
                        font-size: 16px; // Slightly larger for better readability
                        // More rounded corners for a modern look
                      
                        box-sizing: border-box;
                        text-transform: uppercase;
                        cursor: pointer;
                        transition: all 0.3s ease; // Smooth transition for hover effects
                        &:hover {
                          background-color: darken(#9e816f, 5%);
                          transform: translateY(-2px)!important; // Lift the button slightly on hover
                        }
                      }
                }
            }
            .colRight{
                width: 50%;
                height: 100%;
                background: #000;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

}