@mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    @content;
  }
}
.arrivalSection {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem; // Added overall padding for better spacing

    .header {
      width: 100%;
      text-align: center;
      position: relative;
      padding: 3rem 0 1rem; // Adjusted for better spacing around header
      box-sizing: border-box;
  
      h1 {
        color: var(--primary-black);
        font-size: 3.5rem; // Slightly larger for better emphasis
        margin-bottom: 1rem;
        text-transform: uppercase; // Adds a bold, standout look
        @include mobile {
          font-size: 2.7rem;
        }
        span{
          color: #c99946ec;
        }
      }
  
      p {
        color: rgba(41, 41, 41, 0.8);
        margin-bottom: 2.5rem; // Added more space below for better separation
        font-size: 18px; // Slightly larger for better readability
        line-height: 1.6; // Better spacing between lines
      }
    }
  
    .divider {
      width: 100%;
      height: 8px; // Adjusted height for a thinner, cleaner divider
      display: flex;
      justify-content: center;
      margin-bottom: 3rem; // More space below for better separation from content
    }
  
    .body {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px; // Increased gap for better spacing between items
      padding: 1rem 0; // Added padding to the top and bottom for a more balanced layout
      @include mobile {
        flex-direction: column;
      }
    }
  }
  