    
    @mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    @content;
  }
}
    .execlusiveOffersSection{
    width: 100vw;
    height: 70vh;
    
    .header {
        width: 100%;
        text-align: center;
        position: relative;
        padding: 3rem 0 1rem; // Adjusted for better spacing around header
        box-sizing: border-box;
    
        h1 {
          color: var(--primary-black);
          font-size: 3.5rem; // Slightly larger for better emphasis
          margin-bottom: 1rem;
          text-transform: uppercase; // Adds a bold, standout look
         @include mobile {
          font-size: 2rem;
         }
          span{
            color: #c99946;
          }
        }
    
        p {
          color: rgba(41, 41, 41, 0.8);
          margin-bottom: 2.5rem; // Added more space below for better separation
          font-size: 18px; // Slightly larger for better readability
          line-height: 1.6; // Better spacing between lines
          @include mobile{
            font-size: 16px;
            margin-bottom: 1rem;
          }
        }
      }
    
      .divider {
        width: 100%;
        height: 8px; // Adjusted height for a thinner, cleaner divider
        display: flex;
        justify-content: center;
        margin-bottom: 3rem; // More space below for better separation from content
      }

    .body {
        height: 100%;
        width: 100%;
        position: relative;
        background-image: url("/offers.webp");
        background-size: cover;
        background-position: center;
        z-index: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        align-items: center;
        @include mobile {
  height: 70%;
}
        .glassOverlay{
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 0;
          inset: 0;
/* From https://css.glass */
background: rgba(55, 55, 55, 0.55);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.6px);
-webkit-backdrop-filter: blur(8.6px);
border: 1px solid rgba(55, 55, 55, 0.79);

        }
        .text{
          text-align: center;
          @include mobile {
            width: 100%;
           
          }
          .icon{
            margin-bottom: 2rem;
            font-size: 5rem;
          }
          color: #fff;
          z-index: 1;
          position: absolute;
          h2{
            font-size: 3rem;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
            @include mobile {
              font-size: 2rem;
            }
          }
          p{
            font-size: 1rem;
            font-weight: 500;
            color: #f1f1f1;
           line-height: 25px;           
            
            
          }
        }




       .mySwiper {
        height: 70vh;
        width: 90%;
        .productDescription{
            text-align: start;
            h2{
                font-size: 20px;
                margin-bottom: 10px;
            }
            p{
                font-size: 16px;
            }
        }
   
       }
    }
}