    
    @mixin mobile {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 600px) and (max-width: 1100px) {
    @content;
  }
}
.serviceFeaturesSection{
    width: 100vw;
    display: flex;
    flex-direction: column;
    @include mobile {
        height: 80vh;
    }
    .header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem 0rem;
        font-size: 2rem;
        text-transform: uppercase;
        @include mobile {
            height: 20%;
            margin: 1rem;
            color: #000000;
            text-align: center;
            justify-content: flex-end;
            font-size: 1.5rem;
        }
    
    }
    .row{
        height: 30vh;
    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: var(--primary-black);
        gap: 20px;
        @include mobile {
            
            flex-direction: column;
            gap: 10px;
            height: 90%;
            width: 100%;
            padding: 1rem;
            
        }
        .col{
            display: flex;
            padding: 3rem 0rem;
            justify-content: center;
            align-items: center;
            gap: 10px;
            height: 100%;
            padding: 20px;
            width: 25%;
            color: #f1f1f1;
            cursor: pointer;
            transition: .3s all ease-in-out;
            &:hover {
                background-color: #554023;
            }
            h2{
                font-size: 20px;
                margin-bottom: 10px;
                @include mobile {
                    font-size: 16px;
                }
            }
            p{
                font-size: 14px;
                opacity: .8;
            }
            @include mobile {
                flex-direction: column;
                padding: 1rem;
                width:100%;
                align-items: flex-start;
            }
        }
    }
}