.loadingContainer{
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: +9999;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
    align-items: center;
    .loadingSpinner {
        width: 25%;
       
        height: 25%;
        h3{
            color: #c99946;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            width: 50%;
            height: 50%;
        }
    }
}